@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Dancing+Script:wght@400;600&family=Edu+NSW+ACT+Foundation&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    color: white;
    background-image: url(./imagenes/fondo.jpg);
    background-size: 100%;
    font-family: Lato, sans-serif;
}
h1{
  color: #1b1b32;
  font-size: 35px;
  font-family: 'Arima', cursive;
  font-weight: 800;
  text-align: center;
}

.App{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorPrincipal{
  width: 600px;
  height: 500px;
  background-color: #f8f8ff;
  padding: 25px;
  margin: 30px;
  border-radius: 26px;
  overflow-y: scroll;
}

/* // toda la barra de desplazamiento. */
.contenedorPrincipal::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorPrincipal::-webkit-scrollbar:vertical{
    width: 8px;
}

/* // el controlador de desplazamiento arrastrable. */
.contenedorPrincipal::-webkit-scrollbar-thumb
{
    background-color: #F3E9DF;
    border-radius: 20px;
}

/* // la pista (barra de progreso) de la barra de desplazamiento, donde hay una barra gris encima de una barra blanca. */
.contenedorPrincipal::-webkit-scrollbar-track {
    border-radius: 10px;
}

.footer{
  position: absolute;
  bottom: 0;
  height: 40px;
  color: black;
}